*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
$gris: #2b2b2b;
$azul: #0f6db9;
$azulHover: #004696;
.clearfix{
    clear: both;
}
body{
    background: #fff;
}