*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

}

body{
    background: #ffffff;
    width: 100%;
}
/*  Nabar   */
.barra{
    background: #414141;
    width: 100%;
    padding: 8px 4px;
}

.barra a{
    color: #ffffff;
    padding: 0 8px;
    font-size: 16px;
}

.barra a:hover{
    color: #6aaaf3 !important;
}

/*  Fin Navbar  */


/*  Principal   */
#principal{
    background: #E5E5E5;
    width: 100%;
}

.total{
    width: 100%;
}

.pc{
    background: linear-gradient(to left, #2e5aeccb, #8691b711);
    width: 100%;

}


.vm p{
    height: 30px;
}

.vm a{
    color: #ffffff;
    font-size: 25px;
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 2px 18px;
    position: relative;
    bottom: 140px;
    float: right;
    right: 200px;
}
/*  Fin Principal   */
.sn{
    background: #fff;
    padding: 0px 90px;
    font-size: 20px;
    color: #3B3737;
}

.sn img{
    width: 40%;
    margin-left: 30%;
}

.center{
    text-align: center;
}

.titulo{
    text-align: center;
    font-size: 50px;
    margin: 30px 0px;
}

.recomendaciones{
    color: #3B3737;
    background: #E5E5E5;
    font-size: 25px;
    height: 860px;
}

.catalogo{
    color: #3B3737;
    background: #E5E5E5;
    font-size: 25px;
    height: 1500px;
    position: relative;
    bottom: 30px;
}

.tarjeta{
    width: 254px;
    height: 210px;
    float: left;
    margin-right: 100px;
    margin-bottom: 100px;
    position: relative;
    left: 186px;
    top: 100px;
}

.tarjeta img{
    width: 254px;
    height: 210px;
    border-radius: 55px 55px 0px 0px;
}

.tarjeta p{
    border-radius: 0px 0px 55px 55px;
    background: #3b3737;
    color: #ffffff;
    font-size: 18px;
    margin-top: -7px;
    padding: 8px;
}

.inf{
    font-size: 20px;
    color: #3B3737;
    background: linear-gradient(to bottom, #73aaf3d5, #73aaf3d5, #73aaf3d5, #10438298);
    margin: -7px 0px;
    padding: 0px 100px;
}

.inf p{
    margin: 5px 40px;
}

.inf p{
    margin-bottom: 20px;
}

.imgcontacto{
    border-radius: 40px;
    width: 700px;
    box-shadow: 48px 37px 28px rgba(0, 0, 0, 0.651);
    margin-bottom: 30px;
}

.imges{
    width: 400px;
    margin-left: 800px;
}
footer{
    background: #000;
    color: #ffffff;
    padding: 5px 0px;
}
#empleados{
    width: 800px;
    height: 500px;
    padding-left: 100px;
}
.perfil{
    background: #DCDCDC;
    width: 300px;
    height: 385px;
    border-radius: 32px;
    margin-left: 25px;
    margin-top: 25px;
    padding-top: 44px;
   /* padding-left: 75px;*/
    text-align: center;
}

.perfil p{
    padding-bottom: 10px;
}

.perfil img{
    width: 150px;
    padding-bottom: 20px;
}

.perfil input{
    margin-top: 30px;
    border: 1px solid #2E59EC;
    border-radius: 50px;
    background: transparent;
    color: #2E59EC;
    padding: 8px 5px;
    font-size: 15px;
}

#bnu{
    color: #fff;
    font-size: 25px;
    text-shadow: 1px 0px 1px #000;
}

#dateu{
    font-size: 22px;
    color: #2E59EC;
}

#return{
    border-radius: 0px 25px 25px 0px;
    margin: 1% 0;
}

.agregarPro{
    border-radius: 25px 0px 0px 25px !important;
    margin: 1% 0 !important;
    display: inline-block !important;
    position: fixed !important;
    margin-left: 86% !important;
    margin-top: 35% !important;
}

#delete{
    background: rgb(248, 33, 33);
    border: none;
    outline-style: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

#delete:hover{
    background: rgb(212, 17, 17);
}

#folioVenta{
    text-align: center;
}

.logout{
    color: #2E59EC;
    border: 1px solid #2E59EC;
    border-radius: 20px;
    padding: 5px 10px;
    width: 50%;
    font-size: 120%;
    margin-left: 25%;
}

.logout:hover{
    color: #3217ac;
    border: 1px solid #3217ac;
}

.op{
    position: relative;
    left: 400px;
    bottom: 370px;
    height: 320px;
}

.op ul{
    background: #f0f0f0;
    width: 44.5%;
}
#verde{
    display: block;
    color: #fff;
    background: #5ADB1B;
    width: 300px;
    font-size: 25px;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
   /* margin-left: 400px;*/
}

#verde:hover{
    background:#54ca19;
}

#amarillo{
    display: block;
    color: #fff;
    background: #DBAE1B;
    width: 300px;
    font-size: 25px;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#amarillo:hover{
    background: #c9a019;
}

#rojo{
    display: block;
    color: #fff;
    background: #DB1B1B;
    width: 300px;
    font-size: 25px;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#rojo:hover{
    background: #c01818;
}

#azul{
    display: block;
    color: #fff;
    background: #2E59EC;
    width: 300px;
    font-size: 25px;
    border: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#azul:hover{
    background: #2a51d3;
}

.login{
    margin-left: 250px;
    position: relative;
    bottom: 50px;
}

#usuario{
    width: 200px;
    height: 30px;
    border: 1px solid #2E59EC;
    border-radius: 5px;
    position: relative;
    left: 275px;
    bottom: 420px;
}


#pass{
    width: 200px;
    height: 30px;
    border: 1px solid #2E59EC;
    border-radius: 5px;
    position: relative;
    left: 275px;
    bottom: 420px;
}

#ingreso{
    background: transparent;
    font-size: 18px;
    color: #2E59EC !important;
    padding: 5px 12px;
    border: 1px solid #2E59EC;
    border-radius: 25px;
    position: relative;
    left: 330px;
    bottom: 385px;
    cursor: pointer;
}

.verpro{
    height: 800px;
}

#ingreso, #usuario, #pass:hover{
    border: 1px solid #0f35b1;
}

.login p{
    width: 300px;
    color: #2E59EC;
    font-size: 30px;
    position: relative;
    left: 220px;
    top: 280px;
}

#loginA{
    width: 100px;
}

#loginE{
    width: 100px; 
}
.resgisVen{
    background: #ececec;
    width: 100%;
    height: 1000px;
    position: relative;
    bottom: 30px;
}

#regisVentas{
    width: 550px;
    background: #807f7f88;
    margin-left: 350px;
    border-radius: 30px;
    position: relative;
    top: 100px;
}



.inpre{
    background: rgb(255, 255, 255) !important;
    width: 470px !important;
    font-size: 18px !important;
    border: transparent !important;
    border-radius: 5px !important;
    margin-right: 20px !important;
    margin-left: 40px !important;
    margin-bottom: 40px !important;

}

label{
    color: #000!important;
    font-size: 22px !important;
}

.insub1{
    border: transparent;
    border-radius: 5px;
    margin-right: 20px;
    margin-left: 50px;
    margin-bottom: 20px;  
    padding: 5px 12px; 
    background: rgb(154, 221, 238); 
    cursor: pointer;
    font-size: 18px;
}

.insub1:hover{
    background: rgb(141, 202, 218);
}

a{
    color: #fff !important;
}

.insub2{
    border: transparent;
    border-radius: 5px;
    margin-right: 50px;
    margin-left: 40px;
    margin-bottom: 20px;  
    padding: 5px 12px; 
    position: relative; 
    float: right;
    background: rgb(154, 238, 175); 
    cursor: pointer;
    font-size: 18px;
}

.insub2:hover{
    background: rgb(139, 214, 158);
}

hr{
    border: 1px solid #b1b1b1;
}

.f{
    margin-left: 100px;
}

input[type=file]{
    padding: 1px 5px !important;
    font-size: 10px !important;
    margin: 5px 0px !important;
}

#precio{
    margin-right: 15%;
}

#codigoPr{
    margin-right: 15%;
}

#imgProd{
    margin-left: 4%;
}

#la{
    color: rgb(121, 121, 121);
    font-size: 18px;
}

#buscar{
    padding: 1%;
    font-size: 60%;
    width: 70%;
    border-radius: 20px 0px 0px 20px;
    border: none;
    margin-left: 15%;
    margin-right: 0px;
}

#buscar:active{
    border: none;
}

#categorias{
    padding: 1%;
    font-size: 60%;
    background: rgb(39, 87, 219);
    color: #fff;
    border: none;
    margin-left: 0px;
}

.alertaError p{
    background: #fd3a3a;
    color: #fff;
    padding: 2%;
    font-size: 100%;
    width: 150%;
    text-align: center;
    margin-bottom: -40%;
    margin-left: 75%;
    border-radius: 8px;
}

.alertaExito p{
    background: #40fd3a;
    color: #fff;
    padding: 1%;
    font-size: 120%;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    border-radius: 8px;
}
#buscardos{
    background: #1d70db;
    border: none;
    font-size: 100%;
    color: #fff;
    padding: 1% 2%;
    cursor: pointer;
}
#eliminar{
    background: #db1d1d;
    border: none;
    font-size: 100%;
    color: #fff;
    padding: 1% 3%;
    cursor: pointer;
}
#bntVerPro{
    background: #1d70db;
    border: none;
    border-radius: 20px;
    font-size: 100%;
    color: #fff;
    padding: 1% 3%;
    cursor: pointer;
}

.clearfix{
    clear: both;
}

#dePro{
    background: #1159ac;
    color: #fff;
    width: 20%;
    font-size: 22px;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 3%;
}

#dePro:active{
    background: #1159ac;
    color: #fff;
}

#deUser{
    background: #1159ac;
    color: #fff;
    width: 20%;
    font-size: 22px;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    margin-bottom: 3%;
}

#deUser:active{
    background: #1159ac;
    color: #fff;
}

#deUser:hover{
    background: #216cc2;
}

#dePro:hover{
    background: #216cc2;
}
@media screen and (max-width:800px){
    .barra{
        background: #414141;
        width: 100%;
        height: 60px;
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 10px;
        position: relative; /*al terminar probar con position:fixed; */
        z-index: 2;
    }
    
    .barra ul li a{
        color: #ffffff;
        margin-right: 15px;
        display: inline-block;
        padding-right: 15px;
        font-size: 30px;
        position: relative;
        bottom: 3px;
    }   

    .sn{
        font-size: 300%;
    }

    .recomendaciones{
        font-size: 250%;
        height: 1200px;
    }

    .tarjeta p{
        margin-top: -3.8%;
    }

}

@media screen and (max-width:404px){
    .barra{
        background: #414141;
        width: 100%;
        height: 100px;
        padding-top: 12px;
        padding-left: 12px;
        padding-bottom: 10px;
        position: relative; /*al terminar probar con position:fixed; */
        z-index: 2;
    }
    
    .barra ul li a{
        color: #ffffff;
        margin-right: 50px;
        display: inline-block;
        padding-right: 15px;
        font-size: 42px;
        position: relative;
        bottom: 3px;
    }   

    .sn{
        margin-top: 70px;
        font-size: 400%;
    }
}  
